body {
  background-color: #f4f4f4;
  font-family: Helvetica, sans-serif;
}

#right-container {
  border: 1px solid red;
  height: 100vh;
}

#left-container {
  height: 100vh;
  border: 1px solid blue;
 
}

#overallContainer {
  margin: 1em;
  border: 1px solid pink;
  padding: 1em;
  height: 100vh;
}
