body {
  color: #131315;
  background-color: #f4f4f4;
  font-family: proxima-nova, sans-serif;
}

#rightContainer {
  /* border: 1px solid red; */
  height: 100vh;
}

#leftContainer {
  padding-top: 4em;
  height: 100vh;
  /* border: 1px solid blue; */
 
}

#overallContainer {
  margin: 1em;
  /* border: 1px solid pink; */
  padding: 1em;
  height: 100vh;
  padding: none;
}

h1 {
  font-weight: bold;
  font-size: 3em;

}

h4 {
  font-weight: 700;
  font-size: 1.5em;

}

p {
  font-size: 1 em;
}

label {
  font-weight: normal;
}

#Q1, #Q2, #Q3, #Q4, #Q5 {
  font-weight: bold;
  font-size: 1.1em;
}

button {
  color: #131315;
  font-weight: bold;
  font-size: 1em;
  border-radius: .2em;
  margin-top: 2em;
  padding: .75em 2em;

}

#rightContainerShowing {
  /* background-color: white; */
  padding: 5em;
}

#title {
  text-decoration: underline;
}

input {
  font-family: 'chivo';
}

input[type='radio'] {
  background-color: red;
}