body {
  color: #131315;
  background-color: #f4f4f4;
  font-family: proxima-nova, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 3em;
  color: 131315;
}

h4 {
  font-weight: 700;
  font-size: 1.5em;
  color: 131315;
  
}

p {
  color: 131315;
  font-size: 1 em;
}

label {
  font-weight: normal;
}

a{
  color: #131315;
  
}
a:hover {
  color: #f4f4f4;
  background-color: #131315;
}

#rightContainer {
  height: 100vh;
}

#leftContainer {
  height: 100vh;
}

#overallContainer {
  margin: 1em;
  padding: 1em;
  height: 100vh;
  padding: none;
}

#Q1, #Q2, #Q3, #Q4, #Q5 {
  font-weight: bold;
  font-size: 1.1em;
}

button {
  color: #131315;
  font-weight: bold;
  font-size: 1em;
  border-radius: .2em;
  margin-top: 1em;
  padding: .75em 2em;

}

#rightContainerShowing {
  padding: 1.5em 6.5em;
  background-color: white;
  border: 1px solid #d8d8d8;
}

#python, #ruby, #php {
  padding: 1em 6.5em;
  background-color: white;
  border: 1px solid #d8d8d8;
  display: none;
}

#refreshButton {
  display: none;
}

input {
  color: 131315;
  font-family: 'chivo';
}


form label[for="QOption"] {
  padding-left: .5em;
}

#title {
  width: 10em;
  float: left;
}
